.textInput {
  width: 100%;
  margin-bottom: 16px;
  padding: 4px;
}

.topicForms {
  display: flex;
  flex-direction: column;
}

.wordForms {
  display: flex;
  flex-direction: column;

  padding-left: 16px;
}

.submitButton {
  padding: 8px;
  border: 0;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
